# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel

**/.env

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars

# Ignore override files as they can contain sensitive data
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform.lock.hcl

# Next.js
.next/
out/

# Express.js
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bin/

# Environment Variables
**/*.env

# Editor and OS artifacts
.DS_Store
*.sublime*
.vscode/
