.button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 6px;
  width: auto;

  transition: color 0.1s ease-out, background-color 0.1s ease-out,
    border 0.1s ease-out;

  &.primary {
    background-color: var(--primary-0);
    color: var(--light-0);
    border: 1px solid var(--primary-0);
  }

  &.transparent {
    background-color: transparent;
    color: var(--light-0);
    border: 1px solid var(--light-0);
  }
}
