@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;

  --dark-0: rgb(32, 33, 35);

  --dark-2: rgb(52, 53, 65);
  --dark-3: rgb(64, 65, 79);

  --light-1: rgb(236, 236, 241);

  --primary-0: rgb(16, 163, 127);
  --primary-1: rgb(11, 113, 88);

  background-color: var(--dark-2);
  color: var(--light-1);

  --hue-rotation: 0deg;

  /* rotate hue */
  filter: hue-rotate(var(--hue-rotation));
  backdrop-filter: hue-rotate(var(--hue-rotation));
}
